# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.eggs/
dist/
build/
*.egg

# Environments
.env
.venv/
venv/

# Data
data/irai.db
data/*.db-wal
data/*.db-shm

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Node
node_modules/
package-lock.json

# Misc
*.zip
